@{
}

@{
}

@model Order

<h2>Check out now</h2>
<p>Please enter your details, and we will get your order shipped as soon as possible!</p>

<form method="post" asp-controller="Order" asp-action="Checkout">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Ship To</h4>

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <h4>Address</h4>

    <div class="form-group">
        <label asp-for="AddressLine1">Address Line 1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AddressLine2">Address Line 2:</label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AddressLine3">Address Line 3:</label>
        <input asp-for="AddressLine3" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Zip">Zip Code:</label>
        <input asp-for="Zip" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="checkbox">
        <label>
            <input asp-for="Anonymous" /> Donate Anonymously
        </label>
    </div>

    <div class="modal" tabindex="-1" id="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right">
        <input class="btn btn-primary" type="submit" value="Place Order" />
    </div>

</form>
